<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ccwonline.management">
      <section name="common" type="CCWOnline.Management.Common.Configuration.CommonConfigurationSection, CCWOnline.Management"/>
      <section name="membership" type="CCWOnline.Management.Membership.Configuration.MembershipConfigurationSection, CCWOnline.Management.Membership"/>
      <section name="templates" type="CCWOnline.Management.Templates.Configuration.TemplatesConfigurationSection, CCWOnline.Management.Templates"/>
      <section name="publishing" type="CCWOnline.Management.Publishing.Configuration.PublishingConfigurationSection, CCWOnline.Management.Publishing"/>
      <section name="sites" type="CCWOnline.Management.Sites.Configuration.SitesConfigurationSection, CCWOnline.Management.Sites"/>
    </sectionGroup>

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration,Version=1.2.0.0,Culture=neutral,PublicKeyToken=null" />
  </configSections>

  <ccwonline.management>
    <common connectionString="CCWOnlineManagement" culture="zh-CN" siteStructure="Normal" siteSign="Main" />
    <membership />
    <templates />
    <publishing />
    <sites childSiteRootPath="d:\test\" childSiteTemplateFile="d:\test\CCWOnlineCMS_v2.0.zip" mainSite="http://localhost:8090/" 
		   databaseLoginName="CCWOnlineCMS"  databaseInstance="online087" databaseName="CCWOnlineCMS_v2.0" databaseAdminName="sa" databaseAdminPassword="123456" 
		   databaseTemplateFile="D:\test\CCWOnlineCMS_v2.0.bak"  databaseRestorePath="D:\test\" />
  </ccwonline.management>

  <unity>
    <containers>
      <container name="Common">
        <types>
          <type type="CCWOnline.Management.Common.DataAccess.INavDao,CCWOnline.Management" mapTo="CCWOnline.Management.Common.DataAccess.SqlServer.NavDao,CCWOnline.Management"></type>
          <type type="CCWOnline.Management.Common.DataAccess.IConfigDao,CCWOnline.Management" mapTo="CCWOnline.Management.Common.DataAccess.SqlServer.ConfigDao,CCWOnline.Management"></type>
        </types>
      </container>

      <container name="Membership">
        <types>
          <type type="CCWOnline.Management.Membership.DataAccess.IPermissionDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.PermissionDao,CCWOnline.Management.Membership"></type>
          <type type="CCWOnline.Management.Membership.DataAccess.IRoleDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.RoleDao,CCWOnline.Management.Membership"></type>
          <type type="CCWOnline.Management.Membership.DataAccess.IRolePermissionRelationDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.RolePermissionRelationDao,CCWOnline.Management.Membership"></type>
          <type type="CCWOnline.Management.Membership.DataAccess.IUserDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.UserDao,CCWOnline.Management.Membership"></type>
          <type type="CCWOnline.Management.Membership.DataAccess.IUserRoleRelationDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.UserRoleRelationDao,CCWOnline.Management.Membership"></type>
          <type type="CCWOnline.Management.Membership.DataAccess.IUserTicketDao,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Membership.DataAccess.SqlServer.UserTicketDao,CCWOnline.Management.Membership"></type>
        </types>
      </container>

      <container name="Templates">
        <types>
          <type type="CCWOnline.Management.Templates.DataAccess.ITemplateDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Templates.DataAccess.SqlServer.TemplateDao,CCWOnline.Management.Templates"></type>
          <type type="CCWOnline.Management.Templates.DataAccess.IWebpartDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Templates.DataAccess.SqlServer.WebpartDao,CCWOnline.Management.Templates"></type>
          <type type="CCWOnline.Management.Templates.DataAccess.ILayoutDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Templates.DataAccess.SqlServer.LayoutDao,CCWOnline.Management.Templates"></type>
          <type type="CCWOnline.Management.Templates.DataAccess.ITemplateMappingDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Templates.DataAccess.SqlServer.TemplateMappingDao,CCWOnline.Management.Templates"></type>
          <type type="CCWOnline.Management.Templates.DataAccess.ITemplateGroupDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Templates.DataAccess.SqlServer.TemplateGroupDao,CCWOnline.Management.Templates"></type>
        </types>
      </container>

      <container name="Publishing">
        <types>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleTypeDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleTypeDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IColumnDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleColumnRelationDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleColumnRelationDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IColumnTemplateRelationDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnTemplateRelationDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleRecommendTypeDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleRecommendTypeDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleCommentDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleCommentDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IArticleArticleRelationDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ArticleArticleRelationDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IColumnTypeDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnTypeDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IColumnExtensionFunctionDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnExtensionFunctionDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IColumnPermissionRelationDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnPermissionRelationDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IVisitStatDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.VisitStatDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IApproveLogDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ApproveLogDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IWorkflowDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.WorkflowDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IApproveArticleDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ApproveArticleDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IWorkflowRuleDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.WorkflowRuleDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IWorkflowTemplateDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.WorkflowTemplateDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Publishing.DataAccess.IStaticPageTaskDao,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.StaticPageTaskDao,CCWOnline.Management.Publishing"></type>
          <type type="CCWOnline.Management.Templates.DataAccess.IRelationTemplateDao,CCWOnline.Management.Templates" mapTo="CCWOnline.Management.Publishing.DataAccess.SqlServer.ColumnTemplateRelationDao,CCWOnline.Management.Publishing"></type>
		</types>
      </container>

      <container name="Sites">
        <types>
          <type type="CCWOnline.Management.Sites.DataAccess.ISiteDao,CCWOnline.Management.Sites" mapTo="CCWOnline.Management.Sites.DataAccess.SqlServer.SiteDao,CCWOnline.Management.Sites"></type>
          <type type="CCWOnline.Management.Sites.DataAccess.ISiteDomainDao,CCWOnline.Management.Sites" mapTo="CCWOnline.Management.Sites.DataAccess.SqlServer.SiteDomainDao,CCWOnline.Management.Sites"></type>
          <type type="CCWOnline.Management.Sites.DataAccess.IUserSiteRelationDao,CCWOnline.Management.Sites" mapTo="CCWOnline.Management.Sites.DataAccess.SqlServer.UserSiteRelationDao,CCWOnline.Management.Sites"></type>
          <type type="CCWOnline.Management.Membership.ISiteUserService,CCWOnline.Management.Membership" mapTo="CCWOnline.Management.Sites.SiteUserService,CCWOnline.Management.Sites"></type>
        </types>
      </container>

      <container name="Initialize">
        <types>
          <type type="CCWOnline.Management.Publishing.PublishingInitializer,CCWOnline.Management.Publishing" mapTo="CCWOnline.Management.Publishing.PublishingInitializer,CCWOnline.Management.Publishing"></type>
        </types>
      </container>

    </containers>
  </unity>

</configuration>
