<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="CCWOnlineManagement" providerName="System.Data.SqlClient" connectionString="server=online-sql2005;database=Unis_Hy;uid=Unis_Hy;pwd=Unis_Hy" />
  </connectionStrings>
  <appSettings>
    <!-- 是否为测试邮件，设置为true，系统会根据下面的配置进行发送测试邮件；设置为false，系统将正常发送邮件 -->
    <add key="CCWOnline.Net.Mail.IsTestMail" value="true" />
    <!-- 测试邮件的发件人地址 -->
    <add key="CCWOnline.Net.Mail.TestMailFrom" value="test@ccwonline.com" />
    <!-- 测试邮件的收件人地址，多个收件人，用英文分号分隔 -->
    <add key="CCWOnline.Net.Mail.TestMailTo" value="yang_shuai@ccwonline.com.cn" />
    <!-- 是否发送错误邮件，true：发送错误邮件；false：不发送错误邮件-->
    <add key="CCWOnline.Web.ErrorMailModule.IsSendErrorMail" value="true" />
    <!-- 发送错误邮件的发件人 -->
    <add key="CCWOnline.Web.ErrorMailModule.ErrorMailFrom" value="error@ccwonline.com" />
    <!-- 发送错误邮件的收件人，多个收件人，用英文分号分隔 -->
    <add key="CCWOnline.Web.ErrorMailModule.ErrorMailTo" value="tang_jing@ccwonline.com.cn" />
    <!-- 发送错误邮件的主题 ProjectName是项目的名字，ErrorNumber是错误编号，ErrorMessage是错误信息，主题可以随意配置-->
    <add key="CCWOnline.Web.ErrorMailModule.ErrorMailSubject" value="CCWOnline_{ErrorNumber}_{ErrorMessage}" />
    <!-- 系统中使用的数据库连接串的名，需要和connectionStrings中的数据库连接串保持一致 -->
    <add key="CCWOnline.Web.ErrorMailModule.ConnectionStrings" value="CCWOnlineManagement" />
    <!--静态生成的文件目录-->
    <add key="DomainName" value="https://jie-li-1995.github.io/jquery/" />
    <add key="DomainPath" value="E:\website\Unis_Hy\page" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;Admin\Plugin" />
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="CCWOnline.Management" />
        <add namespace="CCWOnline.Management.Publishing" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ccw" namespace="CCWOnline.WebControls" assembly="CCWOnline.WebControls" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <customErrors  mode="RemoteOnly">
      <error statusCode="500" redirect="404.html" />
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <!-- 
  设置 compilation debug="true" 将调试符号插入
  已编译的页面中。但由于这会 
  影响性能，因此只在开发过程中将此值 
  设置为 true。
  -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
  通过 <authentication> 节可以配置 ASP.NET 使用的 
  安全身份验证模式，
  以标识传入的用户。 
  -->
    <authentication mode="Forms" />
    <!--
  如果在执行请求的过程中出现未处理的错误，
  则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
  开发人员通过该节可以配置
  要显示的 html 错误页
  以代替错误堆栈跟踪。


  -->
<httpRuntime requestValidationMode="2.0" /> 
    <anonymousIdentification enabled="true" />
    <profile defaultProvider="CCWOnlineManagementProfileProvider" automaticSaveEnabled="true" enabled="true">
      <providers>
        <clear />
        <add name="CCWOnlineManagementProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="CCWOnlineManagement" applicationName="/" />
      </providers>
    </profile>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="CCWOnline.Management.Templates.Mappings.TemplateMappingHandlerFactory, CCWOnline.Management.Templates" />
    </httpHandlers>
    <webParts>
      <personalization defaultProvider="CCWOnlineManagementPersonalizationProvider">
        <providers>
          <clear />
          <add name="CCWOnlineManagementPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="CCWOnlineManagement" applicationName="/" />
        </providers>
        <authorization>
          <allow users="*" verbs="enterSharedScope" />
          <allow users="?" verbs="modifyState" />
        </authorization>
      </personalization>
    </webParts>
<sessionState mode="InProc"  cookieless="false" timeout="120" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v2.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="CCWOnlineCmsHttpModule" type="CCWOnline.Management.Web.CmsHttpModule, CCWOnline.Management" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" />
      <add name="CCWOnlineCmsHttpHandler" verb="*" path="*.aspx" type="CCWOnline.Management.Templates.Mappings.TemplateMappingHandlerFactory, CCWOnline.Management.Templates" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
      <httpErrors errorMode="DetailedLocalOnly">
 <remove statusCode="404"/>
 <error statusCode="404" path="404.html" responseMode="File"/>
 <remove statusCode="500"/>
 <error statusCode="500" path="404.html" responseMode="File"/>
      </httpErrors>
  </system.webServer>
</configuration>
